* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(112, 133, 179);
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
}

.container {
    width: 420px;
    color: white;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.container h1 {
    text-align: center;
    font-size: 36px;
}

.info {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    font-size: 16px;
}

.info i {
    position: absolute;
    right: 20px;
    color: white;
    font-size: large;
    margin-top: 4.5%;
}

input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 45px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
    outline: none;
}

.forgot {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 15px;
}

.forgot a {
    text-decoration: none;
    color: white;
}

.forgot a:hover {
    text-decoration: underline;
}

button {
    display: inline-block;
}

.sign-up {
    cursor: pointer;
    justify-items: center;
    height: 45px;
    width: 100%;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.sign-up:hover {
   background-color: rgb(192, 207, 236);
}

.login {
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
}

.login a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.login a:hover {
    color: white;
    text-decoration: underline;
}

#error {
    margin-bottom: 10%;
    margin-left: 2%;
    font-size: 20px;
}